<div class="container">
  @if(authService.user?.role == "administrateur" || authService.user?.role ==
  "vendeur") {
  <button
    mat-raised-button
    routerLink="/ajout-produit"
    routerLinkActive="router-link-active"
  >
    Ajouter produit
  </button>
  }

  <div class="row row-cols-3">
    @for (item of this.produits; track $index) {
    <div class="px-2">
      <mat-card appearance="outlined" class="mt-4 card-container">
        <mat-card-header>
          <mat-card-title>{{ item.name }}</mat-card-title>
          <mat-card-subtitle>ID: {{ item.id }}</mat-card-subtitle>
        </mat-card-header>
        <img
          class="card-img"
          mat-card-image
          src="https://picsum.photos/350"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <p>
            date: {{ item.date | date : "shortDate" }}
            <br />
            Value: {{ item.value }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Ajouter</button>
          @if(authService.user?.role == "administrateur" ||
          authService.user?.role == "vendeur") {
          <button mat-button>Modifier</button>
          <button mat-button (click)="onDelete(item)">Supprimer</button>}
        </mat-card-actions>
      </mat-card>
    </div>
    }
  </div>
</div>
